#!/usr/bin/env bash

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# i suck at typing
alias got='git'
alias gti='git'
alias gut='echo "hungry?" && git'

# colors!
if [[ -x "/usr/bin/dircolors" ]]; then
    test -r "$HOME/.dircolors" && eval "$(dircolors -b $HOME/.dircolors)" || eval "$(dircolors -b)"

    alias ls='ls --color=auto'
    alias grep="grep --color=auto"
    alias fgrep="fgrep --color=auto"
    alias egrep="egrep --color=auto"
fi

alias weather='curl wttr.in/~portland'

# down a level & possibly run a command
function ..() {
    cd ..
    if [ ! -z "${1}" ]; then ${*}; fi
}

# back to last place & possibly run a command
function -() {
    cd -
    if [ ! -z "${1}" ]; then ${*}; fi
}

# go to a place, run a thing, come back
function cdx() {
    cd ${1}
    ${A[@]:1}
    cd -
}

# down a level, run a thing, come back
function .-() {
    cd ..
    ${*}
    cd -
}

# less which
function lw() { less `which $*` ; }

# find a file with a pattern in name
function ff() { find . -type f -iname '*'$*'*' -ls ; }

# find a directory with a pattern in name
function fd() { find . -type d -iname '*'$*'*' -ls ; }

if command -v code &> /dev/null
then
    alias code.='code .'
    # RIP
    alias atom=code

    # edit dotfiles in code
    alias edf='code ~/.dotfiles'
else
    echo 'VS Code is not in path'
fi

# misc applications
alias dc='docker-compose'
alias k=kubectl
alias tf=terraform

# python venv
# assumes virtual env has been setup at ~/.venv
# to do that:
# python3 -m venv ~/.venv
alias venv='source ~/.venv/bin/activate'
